<div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/headerbar.html'" ></div>
<div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/header.html'" ></div>
<div id="page-container">
    <div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/navigation.html'" ></div>
    <!--<div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/rightbar.html'" ></div>-->
    <div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/pagecontent.html'" ></div>
    <div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/footer.html'" ></div>
</div>
<div ng-include src="appController.getPathToClientSide()+'/themes/'+appController.getTheme()+'/footer_script.html'" ></div>


