<footer role="contentinfo">
    <div class="clearfix">
        <ul class="list-unstyled list-inline">
            <li>{{appController.title}} &copy; 2014 - Powered by Just-BI</li>
                
            <button class="pull-right btn btn-inverse-alt btn-xs hidden-print" id="back-to-top"><i class="fa fa-arrow-up"></i></button>
        </ul>
    </div>


</footer>