<header ng-controller="cSelectGroup as SelectGroup" class="navbar navbar-inverse navbar-fixed-top" role="banner">
    <a id="leftmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="right" title="Toggle Sidebar"></a>
    <!-- <a id="rightmenu-trigger" class="tooltips" data-toggle="tooltip" data-placement="left" title="Toggle Infobar"></a> -->
    <div class="navbar-header pull-left">
        <a class="navbar-brand" href="/">Checktool</a>
    </div>
    <ul class="nav navbar-nav pull-right toolbar">
        <li><a href="/auth/logout/"><i class="fa fa-sign-out"></i> Uitloggen</a></li>
        <li class="dropdown">
            <a  class="dropdown-toggle username" data-toggle="dropdown"><span class="hidden-xs">{{groupNameSelected==''?'Geen groep geselecteerd':groupNameSelected}} <i class="fa fa-caret-down"></i></span></a>
            <ul class="dropdown-menu userinfo arrow">
                
                <li class="userlinks">
                    <ul class="dropdown-menu">
                        <li ng-repeat="selectGroup in allGroups.slice(0, 10)"><a href="Javascript:;" ng-click="SelectGroup.setGroupIdPlusGroupName(selectGroup.id, selectGroup.description);">{{selectGroup.description}}</a></li>
                        <li class="divider"></li>
                        <li><a href="#/selectgroup" class="text-right">{{lang('showAll','Show All')}}</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <!--
        <li>
            <a href="#" id="headerbardropdown"><span><i class="fa fa-level-down"></i></span></a>
        </li>
        -->
        
    </ul>
</header>