<!-- <link rel="stylesheet" href="/static/frontend/themes/basic/css/styles.css"> -->
<link rel="stylesheet" href="/static/frontend/minified/styles.min.css">
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
<!-- <link href='/static/frontend/themes/basic/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'> -->
<link href='/static/frontend/minified/default.min.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'>
<!-- <link href='/static/frontend/themes/basic/demo/variations/header-red.css' rel='stylesheet' type='text/css' media='all' id='headerswitcher'> -->
<link href='/static/frontend/minified/header-red.min.css' rel='stylesheet' type='text/css' media='all' id='headerswitcher'>
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
<!--[if lt IE 9]>
<link rel="stylesheet" href="themes/basic/css/ie8.css">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<script type="text/javascript" src="static/frontend/themes/basic/plugins/charts-flot/excanvas.min.js"></script>
<![endif]-->

<!-- The following CSS are included as plugins and can be removed if unused-->

<link rel='stylesheet' type='text/css' href='/static/frontend/themes/basic/plugins/bootstro.js/bootstro.min.css' />
<!-- <link rel='stylesheet' type='text/css' href='/static/frontend/themes/basic/plugins/codeprettifier/prettify.css' /> -->
<link rel='stylesheet' type='text/css' href='/static/frontend/minified/prettify.min.css' />
<!-- <link rel='stylesheet' type='text/css' href='/static/frontend/themes/basic/plugins/form-toggle/toggles.css' /> -->
<link rel='stylesheet' type='text/css' href='/static/frontend/minified/toggles.min.css' />

<!-- <script type="text/javascript" src="themes/basic/js/less.js"></script> -->


