<nav id="page-leftbar" role="navigation">
    <!-- BEGIN SIDEBAR MENU -->
    <ul class="acc-menu" id="sidebar">

        <li class="divider"></li>
        <li ng-repeat="navigation in appController.objNavigation" ng-class="{active:appController.isLocationActive(navigation.url), nonselectable:appController.isNavigationUrlSelectable(navigation.url)}">
            <a ng-href="{{(appController.isNavigationUrlSelectable(navigation.url))?'':navigation.url}}">
                <i class="fa" ng-class="navigation.icon"></i> <span>{{navigation.name}}</span>
            </a>
        </li>

        <li class="divider"></li>
    </ul>
    <!-- END SIDEBAR MENU -->
</nav>