<div id="page-content" style="min-height: {{pageContentHeight}}px" >
    <div id='wrap'>
        <div id="page-heading">
            <ol class="breadcrumb">
                <li ng-repeat="breadCrumb in appController.getContentBreadCrumbs()"><a ng-if="breadCrumb.url != ''" href="{{breadCrumb.url}}">{{breadCrumb.name}}</a><span ng-if="breadCrumb.url == ''">{{breadCrumb.name}}</span></li>
            </ol>
            <h1 class="ng-custom-update-contentTitle">{{appController.getContentTitle()}}</h1>
            <div class="options">

            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                   <div data-ui-view autoscroll="false"></div>
                </div>

            </div> <!-- container -->
        </div> <!--wrap -->
    </div> <!-- page-content -->