<!DOCTYPE html>
<html>
<head>
    <title>Student</title>

<!--    <link rel="stylesheet" href="/static/frontend/themes/basic/css/styles.css?=121"> -->
    <link rel="stylesheet" href="/static/frontend/minified/styles.min.css">
    <link rel="stylesheet" href="/static/frontend/minified/default.min.css">
    <link rel="stylesheet" href="/static/frontend/minified/header-red.min.css">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
<!--    <link href='/static/frontend/themes/basic/demo/variations/default.css' rel='stylesheet' type='text/css' media='all' id='styleswitcher'> -->
<!--    <link href='/static/frontend/themes/basic/demo/variations/header-red.css' rel='stylesheet' type='text/css' media='all' id='headerswitcher'> -->
    <style>
        #student-results-iframe {
            width: 66.66%;
            margin: 15px auto;
        }
    </style>
</head>
<body>
    <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/">Avant</a>
        </div>
        <ul class="nav navbar-nav pull-right toolbar">
            <li><a href="/auth/logout/"><i class="fa fa-sign-out"></i> Uitloggen</a></li>
        </ul>
    </header>

    <div id="student-results-iframe">
        <iframe id="studentResult" src="/static/frontend/themes/basic/template/StudentResult.html" scrolling="no" style="width:100%;overflow: hidden;" frameborder="0"></iframe>
    </div>

    <script language="javascript" type="text/javascript">
        var student_id = {{student_id}};
        var iframe = document.getElementById("studentResult");

        iframe.src = iframe.src + "?student_id=" + student_id;

        function resizeIframe(){
            iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
        }
        setInterval(resizeIframe, 1000);
    </script>
</body>
</html>
