/* app css stylesheet */
.menu {list-style: none;border-bottom: 0.1em solid black;margin-bottom: 2em;padding: 0 0 0.5em;}
.menu:before {content: "[";}
.menu:after {content: "]";}
.menu > li {display: inline;}
.menu > li:before {content: "|";padding-right: 0.3em;}
.menu > li:nth-child(1):before {content: "";padding: 0;}

#studentList .student, #groupList .group{padding: 5px !important;}
#studentList .panel-footer, #groupList .panel-footer{padding: 5px 0 5px 0 !important;}

.right5{margin-right: 5px;}