<div ng-controller="cGroupMatrix as groupMatrix">
    <div class="col-lg-12">
        <div class="panel panel-midnightblue">
            <div class="panel-heading">
                <h4></h4>
            </div>



            <div class="panel-body">
                <div class="loading" ng-show="isTableLoading" >Gegevens worden geladen...</div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped group-matrix" ng-hide="isTableLoading">
                        <thead>
                            <tr>
                                <th  style="width:{{studentCSSTHWidth}}; min-width:{{studentCSSTHWidth}}; border-bottom-color: transparent;" ></th>
                                <th ng-repeat="topicValue in groupMatrix.allTopics" colspan="{{groupMatrix.countColSpanTopic(topicValue, groupMatrix.apiGroupMatrix.data)}}" >
                                    {{groupMatrix.g.lang(topicValue, topicValue, "['topics']")}}
                                </th>
                            </tr>

                            <tr>
                                <th></th>
                                <th ng-repeat="assignmentsValue in groupMatrix.allAssignmentsSortByTopic">
                                    {{groupMatrix.g.lang(assignmentsValue, assignmentsValue, "['assignments']")}}
                                </th>
                            </tr>

                        </thead>
                        <tbody>
                            <tr ng-repeat="(NamesKey, NamesValue) in groupMatrix.allStudents" >
                                <th class="student-th" >
                                    {{NamesValue}}
                                </th>
                                <th ng-repeat="assignmentsValue in groupMatrix.allAssignmentsSortByTopic" ng-init="positiveResult = groupMatrix.getPositiveResultByAssignment(assignmentsValue, groupMatrix.apiGroupMatrix.data[0][NamesKey])">
                                    <div ng-show="positiveResult" class="badge ng-binding badge-success" >{{positiveResult}}</div>
                                    <span ng-hide="groupMatrix.getAssignmentResultByStudent(assignmentsValue, groupMatrix.apiGroupMatrix.data[0][NamesKey]) === 'N/A'"  class="badge ng-binding badge-danger">{{ groupMatrix.getAssignmentResultByStudent(assignmentsValue, groupMatrix.apiGroupMatrix.data[0][NamesKey])}}</span>
                                </th>
                            </tr>
                        </tbody>
                    </table>

                    <a href="javascript:" ng-click="groupMatrix.refreshGroupMatrix()" class="btn btn-default-alt btn-sm float-right"><span class="fa fa-refresh"></span></a>
                   
                </div>
            </div>
        </div>
    </div>

</div>