<div ng-controller="cSelectGroup as SelectGroup">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{SelectGroup.lang.searchHeaderSelectGroup}}</div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <input ng-model="searchGroupSearch" type="text" class="form-control" id="focusedinput" placeholder="Default Input">
                </div>
                
                <div ng-show="((SelectGroup.apiSelectGroups | filter:searchGroupSearch).length) > SelectGroup.pageSize">
                    <a class="btn btn-default" ng-disabled="SelectGroup.currentPage <= 0" ng-click="SelectGroup.currentPage = SelectGroup.currentPage - 1" >{{SelectGroup.lang.previous}}</a>
                    <a class="btn btn-default" ng-disabled="((SelectGroup.currentPage+1) * SelectGroup.pageSize) > SelectGroup.apiSelectGroups.length" ng-click="SelectGroup.currentPage = SelectGroup.currentPage + 1" >{{SelectGroup.lang.next}}</a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{SelectGroup.lang.tableHeaderSelectGroup}}</div>
            
            <div class="panel-body panel-is-selection" ng-show="SelectGroup.loading">
                {Loading...}
            </div>
            
            <div class="panel-body panel-is-selection select-group-id-{{selectGroup.id}}" ng-repeat="selectGroup in SelectGroup.apiSelectGroups.slice(SelectGroup.currentPage * SelectGroup.pageSize, SelectGroup.currentPage * SelectGroup.pageSize + SelectGroup.pageSize) | filter:searchGroupSearch" ng-click="SelectGroup.setGroupIdPlusGroupName(selectGroup.id,selectGroup.description);"  ng-class="SelectGroup.groupIdSelected === selectGroup.id ? 'is-selected' : ''"  >
                <a> {{selectGroup.description}} </a>
            </div>
            <div class="panel-footer" ng-show="SelectGroup.apiSelectGroups.length != 0">
                <div ng-show="((SelectGroup.apiSelectGroups | filter:searchGroupSearch).length) > SelectGroup.pageSize">
                    <a class="btn btn-default" ng-disabled="SelectGroup.currentPage <= 0" ng-click="SelectGroup.currentPage = SelectGroup.currentPage - 1" >{{SelectGroup.lang.previous}}</a>
                    <a class="btn btn-default" ng-disabled="((SelectGroup.currentPage+1) * SelectGroup.pageSize) > SelectGroup.apiSelectGroups.length" ng-click="SelectGroup.currentPage = SelectGroup.currentPage + 1" >{{SelectGroup.lang.next}}</a>
                <br/>
                </div>
                Totaal Resultaat: {{(SelectGroup.apiSelectGroups | filter:searchGroupSearch).length }} 
                Huidige pagina: {{((SelectGroup.apiSelectGroups | filter:searchGroupSearch).length > SelectGroup.pageSize)?((SelectGroup.currentPage+1)*SelectGroup.pageSize): (SelectGroup.apiSelectGroups | filter:searchGroupSearch).length}} 
            </div>
            
            

        </div>
    </div>
</div>
