<div ng-controller="cSetting as Setting">
    <script type="text/javascript" ng-src="{angularFrameworkPathToClientSide}js/vendor/jquery/jquery.cookie.js"></script>
    <div class="row">
        
        <div class="col-md-8">
            
            <div class="col-md-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">{Zoeken}</div>
                    <div class="panel-body">
                        <div class="col-sm-3">
                            <input ng-model="searchStudentModel" type="text" class="form-control" id="focusedinput" placeholder="{Zoeken}">
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="panel panel-primary" id="studentList">
                    <div class="panel-heading">{Niet ingedeelde studenten} {{Setting.baseUrl}}</div>
                    
                    
                    <div class="panel-footer" ng-show="Setting.apiStudentWithoutGroup.length">
                        
                        <div class="col-md-6">
                            <a class="btn btn-default right5" ng-disabled="Setting.currentPage <= 0" ng-click="Setting.currentPage = Setting.currentPage - 1" >{Prev}</a>
                            <a class="btn btn-default right5" ng-disabled="((Setting.currentPage+2) * Setting.pageSize) > Setting.apiStudentWithoutGroup.length" ng-click="Setting.currentPage = Setting.currentPage + 1" >{Next}</a>
                            Totaal Resultaat: {{(Setting.apiStudentWithoutGroup | filter:searchStudentModel).length }} 
                            Huidige pagina: {{((Setting.apiStudentWithoutGroup | filter:searchStudentModel).length > Setting.pageSize)?((Setting.currentPage+1)*Setting.pageSize): (Setting.apiStudentWithoutGroup | filter:searchStudentModel).length}} 
                        </div>
                        
                        <div class="col-md-6">
                            <a href="javascript:;" ng-click="Setting.refreshStudentList()" style="padding: 7px 15px;" class="btn btn-default-alt btn-sm float-right"><span class="fa fa-refresh"></span></a>
                            <a class="btn btn-primary toggle float-right right5" ng-click="Setting.assign();" >{AssignToGroup}</a>
                            <a class="btn btn-default toggle float-right right5" ng-click="Setting.toggleSelected();" >{ToggleSelect}</a>
                            <div class="clear"></div>
                        </div>
                        
                    </div>
                    
                    
                    
                    <div ng-repeat="student in Setting.apiStudentWithoutGroup | filter:searchStudentModel" class="panel-body panel-is-selection student" ng-class="{'is-selected': student.selected}" ng-click="student.selected = !student.selected">
                        
                        <div class="col-md-1">
                            <input type="checkbox" style="pointer-events: none;" data-id="{{student.id}}" ng-checked="student.selected"/>
                        </div>
                        <div class="col-md-11">
                            {{student.name + ' (' + student.division + ')'}}
                        </div>   
                    </div>
                    
                    <div class="panel-body" ng-show="!Setting.apiStudentWithoutGroup.length || !(Setting.apiStudentWithoutGroup | filter:searchStudentModel).length">
                        {We did not find any students} <a ng-href="#/selectgroup">{Home}</a>
                    </div>
                    
                    <div class="panel-footer" ng-show="Setting.apiStudentWithoutGroup.length">
                        
                        <div class="col-md-6">
                            <a class="btn btn-default right5" ng-disabled="Setting.currentPage <= 0" ng-click="Setting.currentPage = Setting.currentPage - 1" >{Prev}</a>
                            <a class="btn btn-default right5" ng-disabled="((Setting.currentPage+2) * Setting.pageSize) > Setting.apiStudentWithoutGroup.length" ng-click="Setting.currentPage = Setting.currentPage + 1" >{Next}</a>
                            Totaal Resultaat: {{(Setting.apiStudentWithoutGroup | filter:searchStudentModel).length }} 
                            Huidige pagina: {{((Setting.apiStudentWithoutGroup | filter:searchStudentModel).length > Setting.pageSize)?((Setting.currentPage+1)*Setting.pageSize): (Setting.apiStudentWithoutGroup | filter:searchStudentModel).length}} 
                        </div>
                        
                        <div class="col-md-6">
                            <a href="javascript:;" ng-click="Setting.refreshStudentList()" style="padding: 7px 15px;" class="btn btn-default-alt btn-sm float-right"><span class="fa fa-refresh"></span></a>
                            <a class="btn btn-primary toggle float-right right5" ng-click="Setting.assign();" >{AssignToGroup}</a>
                            <a class="btn btn-default toggle float-right right5" ng-click="Setting.toggleSelected();" >{ToggleSelect}</a>
                            <div class="clear"></div>
                        </div>
                            
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            
            <div class="panel panel-primary" id="groupList">
                <div class="panel-heading">{Groepen}</div>
                <div ng-repeat="group in Setting.apiGroups" class="panel-body panel-is-selection group" ng-class="{'is-selected' : group.selected}" ng-click="Setting.resetGroups(); group.selected = !group.selected">
                    <div class="col-md-2">
                        <input type="radio" name="groupSelection" data-id="{{group.id}}" style="pointer-events: none;" ng-checked="group.selected">
                    </div>
                    <div class="col-md-10">
                        {{group.description}}
                    </div>
                    
                </div>
                    
                <div class="panel-body" ng-show="!Setting.apiGroups.length">
                    {We did not find any groups} <a ng-href="#/selectgroup">{Home}</a>
                </div>
            </div>
        </div>
    </div>
</div>
