<!-- STUDENTOVERVIEW -->
<div ng-controller="cStudentOverview as StudentOverview">
    <div class="col-md-12" ng-show="StudentOverview.apiStudent.length != 0">
        <div class="panel panel-primary">
            <div class="panel-heading">{{StudentOverview.lang.searchHeaderStudentOverview}}</div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <input ng-model="searchGroupSearch" type="text" class="form-control" id="focusedinput" placeholder="Default Input">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">{{StudentOverview.lang.tableHeaderStudentOverview}}</div>
            <div class="panel-body panel-is-selection" ng-show="StudentOverview.loading" >
                {Loading...}
            </div>
            <div class="panel-body panel-is-selection" ng-repeat="selectGroup in StudentOverview.apiStudent.slice(StudentOverview.currentPage * StudentOverview.pageSize, StudentOverview.currentPage * StudentOverview.pageSize + StudentOverview.pageSize)| filter:searchGroupSearch" ng-click="StudentOverview.setSelectedStudent(selectGroup.id)" ng-class="{'is-selected': StudentOverview.selectedStudentid == selectGroup.id}" >
                {{selectGroup.name + ' (' + selectGroup.division + ')'}} <span class="timestamp" id="timestamp-of-check-{{selectGroup.id}}"></span>
            </div>
            <div class="panel-body" ng-show="StudentOverview.apiStudent.length == 0">
                {{StudentOverview.lang.noDataFound.explain}} <a ng-href="#/selectgroup">{{StudentOverview.lang.noDataFound.link}}</a>
            </div>
            <div class="panel-footer" ng-show="StudentOverview.apiStudent.length != 0" >
                
                <div ng-show="((StudentOverview.apiStudent | filter:searchGroupSearch).length) > StudentOverview.pageSize">
                
                    <a class="btn btn-default" ng-disabled="StudentOverview.currentPage <= 0" ng-click="StudentOverview.currentPage = StudentOverview.currentPage - 1" >{{StudentOverview.lang.previous}}</a>
                    <a class="btn btn-default" ng-disabled="((StudentOverview.currentPage+1) * StudentOverview.pageSize) > StudentOverview.apiStudent.length" ng-click="StudentOverview.currentPage = StudentOverview.currentPage + 1" >{{StudentOverview.lang.next}}</a>
                    <a href="javascript:" ng-click="StudentOverview.refreshStudentList()" class="btn btn-default-alt btn-sm float-right"><span class="fa fa-refresh"></span></a>
                <br/>
                </div>
                Totaal Resultaat: {{(StudentOverview.apiStudent | filter:searchGroupSearch).length }} 
                Huidige pagina: {{StudentOverview.currentPage+1}}
            </div>
            
        </div>
    </div>

    
    <div class="col-md-8">
        <iframe id="studentResult" src="/static/frontend/themes/basic/template/StudentResult.html" scrolling="no" style="width:100%;overflow: hidden;" frameborder="0"></iframe>
    </div>
    
    <script language="javascript" type="text/javascript">
    function resizeIframe() {
      var obj = document.getElementById("studentResult");
      if(obj !== null)
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
    setInterval(resizeIframe, 1000);
    </script>
</div>
<!-- STUDENTOVERVIEW -->
