<html ng-app="viewOnly">
<head>
    <script type="text/javascript" src="/static/frontend/js/vendor/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/frontend/minified/jquery.cookie.min.js"></script>
    <script type='text/javascript' src='/static/frontend/themes/basic/js/jquery.nicescroll.min.js'></script>
    <script type="text/javascript" src="/static/frontend/js/vendor/angular/angular.min.js"></script>
    <script type="text/javascript" src="/static/frontend/js/vendor/angular/angular-resource.min.js"></script>

    <script type="text/javascript" src="/static/frontend/minified/sharedVariable/config/config.min.js"></script>
    <script type="text/javascript" src="/static/frontend/minified/sharedVariable/language/language.min.js"></script>
    <script type="text/javascript" src="/static/frontend/minified/services/common.services.min.js"></script>
    <script type="text/javascript" src="/static/frontend/minified/sharedVariable/globalFactory.min.js"></script>
    <script type="text/javascript" src="/static/frontend/minified/controller/StudentResultsController.min.js"></script>

    <script type='text/javascript' src='/static/frontend/themes/basic/plugins/bootbox/bootbox.min.js'></script>
    
    <script type="text/javascript" src="/static/frontend/themes/basic/js/bootstrap.min.js"></script>
    <script src="/static/frontend/minified/dojo.min.js"></script>
    <script src="/static/frontend/minified/main.min.js"></script>
    <script src="/static/frontend/minified/query.min.js"></script>
    <script src="/static/frontend/minified/enquire.min.js"></script>
    <script src="/static/frontend/minified/application.min.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {
            dojo.require("dojox.json.query");
        });
    </script>
    
    <link rel="stylesheet" type="text/css" href="/static/frontend/minified/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/frontend/minified/styles.min.css"/>
    <style>
        body, html{margin: 0; padding: 0;}
    </style>
</head>
<body>
    <div ng-controller="mainController as mainCtrl" class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Resultaten van {{mainCtrl.studentName}}
                    <a href="javascript:" ng-click="mainCtrl.refreshStudentScores()" class="btn btn-default btn-sm float-right" style="margin-top: 7px;">
                        <span class="fa fa-refresh"></span>
                    </a>
                </div>

                <div ng-show="mainCtrl.loading && !mainCtrl.message.length" class="panel-body no-border-color">
                    Gegevens worden geladen...
                </div>
                
                <div ng-show="mainCtrl.message.length" class="panel-body no-border-color">
                    {{mainCtrl.message}}
                </div>
                
                <div class="panel-body" ng-show="!mainCtrl.validStudent && !mainCtrl.loading">
                    <span class='fa fa-arrow-left'></span> Selecteer een student
                </div>
                
                <div id="results" class="panel-body no-border-color" ng-show="mainCtrl.results.length && !mainCtrl.loading && mainCtrl.validStudent">
                    
                    <div class="contextual-progress">
                        <div class="clearfix">
                            <div class="progress-title">Aantal vragen goed (in percentage)</div>
                            <div class="progress-percentage">{{mainCtrl.numOfGoodGradedInPercentage()}}%</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar progress-bar-success"  style="width: {{mainCtrl.numOfGoodGradedInPercentage()}}%;"></div>
                        </div>
                    </div>

                    <ul class="student-submenu" id="student-results">
                        <li  class="hasChild" ng-repeat="(topicKey , topicObj) in mainCtrl.results[0]" >
                            
                            <a href="javascript:" ng-click="mainCtrl.onClickSubItem($event);"><i class="fa" ng-class="mainCtrl.hasAssignmentGoodGraded(topicObj).boolean?'fa-thumbs-up':'fa-thumbs-down';"></i>
                                <span ng-hide="mainCtrl.hasAssignmentGoodGraded(topicObj).boolean" class="badge badge-danger">
                                    {{mainCtrl.hasAssignmentGoodGraded(topicObj).countResultFalse}}
                                </span> 
                                <span>{{mainCtrl.g.lang(topicKey, topicKey, "['topics']")}}</span>
                            </a>
                            
                            <ul class="student-submenu">
                                <li class="hasChild" ng-repeat="(assignmentKey,assignmentObj) in topicObj">
                                    
                                    <a href="javascript:" ng-click="mainCtrl.onClickSubItem($event);">
                                        <div class="fa" ng-class="mainCtrl.hasAssignmentGoodGraded(assignmentObj).boolean?'fa-thumbs-up':'fa-thumbs-down'" ></div>&nbsp;&nbsp;
                                        <span ng-hide="mainCtrl.hasAssignmentGoodGraded(assignmentObj).boolean" class="badge badge-danger">
                                            {{mainCtrl.hasAssignmentGoodGraded(assignmentObj).countResultFalse}}
                                        </span> 
                                        {{mainCtrl.g.lang(assignmentKey, assignmentKey, "['assignments']")}}
                                    </a>

                                    <ul class="student-submenu" ng-repeat="(sub1Key,sub1Obj) in assignmentObj">
                                        <li class="hasChild">
                                            <a href="javascript:" ng-click="mainCtrl.onClickSubItem($event);"> &nbsp;&nbsp;
                                                <div class="fa" ng-class="mainCtrl.hasAssignmentGoodGraded(sub1Obj).boolean?'fa-thumbs-up':'fa-thumbs-down'" ></div>  
                                                {{(sub1Obj.desc)}} 
                                            </a>
                                            <ul class="student-submenu" ng-repeat="(sub2Key,sub2Obj) in sub1Obj" ng-show="sub2Key !== 'desc'">
                                                <li>
                                                    <a href="javascript:" ng-click="mainCtrl.setDialogBox(sub2Obj.desc, sub2Obj.message, sub2Obj.result); mainCtrl.onClickSubItem($event);">
                                                        <div class="fa fa-book" ></div> &nbsp;&nbsp;
                                                        <div class="fa" ng-class="mainCtrl.hasAssignmentGoodGraded(sub2Obj).boolean?'fa-thumbs-up':'fa-thumbs-down'" ></div>  
                                                        {{(sub2Obj.desc)}} 
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    
                                </li>
                            </ul>
                            
                        </li>
                    </ul>
             
                </div>

            </div>
        </div>
    </div>
</body>
</html>