<!--
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="themes/basic/js/jquery-1.10.2.min.js"%3E%3C/script%3E'))</script>
<script type="text/javascript">!window.jQuery.ui && document.write(unescape('%3Cscript src="themes/basic/js/jqueryui-1.10.3.min.js'))</script>
-->

<script type='text/javascript' src='static/frontend/themes/basic/js/jqueryui-1.10.3.min.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/js/bootstrap.min.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/js/enquire.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/js/jquery.cookie.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/js/jquery.nicescroll.min.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/plugins/codeprettifier/prettify.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/plugins/easypiechart/jquery.easypiechart.min.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/plugins/sparklines/jquery.sparklines.min.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/plugins/form-toggle/toggle.min.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/js/placeholdr.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/js/application.js'></script> 
<script type='text/javascript' src='static/frontend/themes/basic/demo/demo.js'></script>

<script src="static/frontend/js/vendor/dojo/dojo.js"></script>
<script src="static/frontend/js/vendor/dojox/main.js"></script>
<script src="static/frontend/js/vendor/dojox/json/query.js"></script>
    <script>
            $(document).ready(function() {
                //a requirment for dojo to use jsonpath
                dojo.require("dojox.json.query");
            });
     </script>
